@font-face {
    font-family: 'Romande ADF No2 Std';
    src: url('RomandeADFNo2Std-DemiBold.eot');
    src: url('RomandeADFNo2Std-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFNo2Std-DemiBold.woff2') format('woff2'),
        url('RomandeADFNo2Std-DemiBold.woff') format('woff'),
        url('RomandeADFNo2Std-DemiBold.ttf') format('truetype'),
        url('RomandeADFNo2Std-DemiBold.svg#RomandeADFNo2Std-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF No2 Std';
    src: url('RomandeADFNo2Std-DemiBoldItalic.eot');
    src: url('RomandeADFNo2Std-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFNo2Std-DemiBoldItalic.woff2') format('woff2'),
        url('RomandeADFNo2Std-DemiBoldItalic.woff') format('woff'),
        url('RomandeADFNo2Std-DemiBoldItalic.ttf') format('truetype'),
        url('RomandeADFNo2Std-DemiBoldItalic.svg#RomandeADFNo2Std-DemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF No2 Std';
    src: url('RomandeADFNo2Std-Regular.eot');
    src: url('RomandeADFNo2Std-Regular.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFNo2Std-Regular.woff2') format('woff2'),
        url('RomandeADFNo2Std-Regular.woff') format('woff'),
        url('RomandeADFNo2Std-Regular.ttf') format('truetype'),
        url('RomandeADFNo2Std-Regular.svg#RomandeADFNo2Std-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF No2 Std';
    src: url('RomandeADFNo2Std-Italic.eot');
    src: url('RomandeADFNo2Std-Italic.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFNo2Std-Italic.woff2') format('woff2'),
        url('RomandeADFNo2Std-Italic.woff') format('woff'),
        url('RomandeADFNo2Std-Italic.ttf') format('truetype'),
        url('RomandeADFNo2Std-Italic.svg#RomandeADFNo2Std-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF No2 Std';
    src: url('RomandeADFNo2Std-Italic_1.eot');
    src: url('RomandeADFNo2Std-Italic_1.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFNo2Std-Italic_1.woff2') format('woff2'),
        url('RomandeADFNo2Std-Italic_1.woff') format('woff'),
        url('RomandeADFNo2Std-Italic_1.ttf') format('truetype'),
        url('RomandeADFNo2Std-Italic_1.svg#RomandeADFNo2Std-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF No2 Std';
    src: url('RomandeADFNo2Std-DemiBoldItalic_1.eot');
    src: url('RomandeADFNo2Std-DemiBoldItalic_1.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFNo2Std-DemiBoldItalic_1.woff2') format('woff2'),
        url('RomandeADFNo2Std-DemiBoldItalic_1.woff') format('woff'),
        url('RomandeADFNo2Std-DemiBoldItalic_1.ttf') format('truetype'),
        url('RomandeADFNo2Std-DemiBoldItalic_1.svg#RomandeADFNo2Std-DemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF No2 Std';
    src: url('RomandeADFNo2Std-DemiBold_1.eot');
    src: url('RomandeADFNo2Std-DemiBold_1.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFNo2Std-DemiBold_1.woff2') format('woff2'),
        url('RomandeADFNo2Std-DemiBold_1.woff') format('woff'),
        url('RomandeADFNo2Std-DemiBold_1.ttf') format('truetype'),
        url('RomandeADFNo2Std-DemiBold_1.svg#RomandeADFNo2Std-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF No2 Std';
    src: url('RomandeADFNo2Std-Regular_1.eot');
    src: url('RomandeADFNo2Std-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFNo2Std-Regular_1.woff2') format('woff2'),
        url('RomandeADFNo2Std-Regular_1.woff') format('woff'),
        url('RomandeADFNo2Std-Regular_1.ttf') format('truetype'),
        url('RomandeADFNo2Std-Regular_1.svg#RomandeADFNo2Std-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Script Std';
    src: url('RomandeADFScriptStd-Italic.eot');
    src: url('RomandeADFScriptStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFScriptStd-Italic.woff2') format('woff2'),
        url('RomandeADFScriptStd-Italic.woff') format('woff'),
        url('RomandeADFScriptStd-Italic.ttf') format('truetype'),
        url('RomandeADFScriptStd-Italic.svg#RomandeADFScriptStd-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Std';
    src: url('RomandeADFStd-DemiBold.eot');
    src: url('RomandeADFStd-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFStd-DemiBold.woff2') format('woff2'),
        url('RomandeADFStd-DemiBold.woff') format('woff'),
        url('RomandeADFStd-DemiBold.ttf') format('truetype'),
        url('RomandeADFStd-DemiBold.svg#RomandeADFStd-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Std';
    src: url('RomandeADFStd-DemiBoldItalic.eot');
    src: url('RomandeADFStd-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFStd-DemiBoldItalic.woff2') format('woff2'),
        url('RomandeADFStd-DemiBoldItalic.woff') format('woff'),
        url('RomandeADFStd-DemiBoldItalic.ttf') format('truetype'),
        url('RomandeADFStd-DemiBoldItalic.svg#RomandeADFStd-DemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Std';
    src: url('RomandeADFStd-Italic.eot');
    src: url('RomandeADFStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFStd-Italic.woff2') format('woff2'),
        url('RomandeADFStd-Italic.woff') format('woff'),
        url('RomandeADFStd-Italic.ttf') format('truetype'),
        url('RomandeADFStd-Italic.svg#RomandeADFStd-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Std';
    src: url('RomandeADFStd-Regular.eot');
    src: url('RomandeADFStd-Regular.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFStd-Regular.woff2') format('woff2'),
        url('RomandeADFStd-Regular.woff') format('woff'),
        url('RomandeADFStd-Regular.ttf') format('truetype'),
        url('RomandeADFStd-Regular.svg#RomandeADFStd-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Style Std';
    src: url('RomandeADFStyleStd-DemiBold.eot');
    src: url('RomandeADFStyleStd-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFStyleStd-DemiBold.woff2') format('woff2'),
        url('RomandeADFStyleStd-DemiBold.woff') format('woff'),
        url('RomandeADFStyleStd-DemiBold.ttf') format('truetype'),
        url('RomandeADFStyleStd-DemiBold.svg#RomandeADFStyleStd-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Style Std';
    src: url('RomandeADFStyleStd-Regular.eot');
    src: url('RomandeADFStyleStd-Regular.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFStyleStd-Regular.woff2') format('woff2'),
        url('RomandeADFStyleStd-Regular.woff') format('woff'),
        url('RomandeADFStyleStd-Regular.ttf') format('truetype'),
        url('RomandeADFStyleStd-Regular.svg#RomandeADFStyleStd-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Script Std';
    src: url('RomandeADFScriptStd-Italic_1.eot');
    src: url('RomandeADFScriptStd-Italic_1.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFScriptStd-Italic_1.woff2') format('woff2'),
        url('RomandeADFScriptStd-Italic_1.woff') format('woff'),
        url('RomandeADFScriptStd-Italic_1.ttf') format('truetype'),
        url('RomandeADFScriptStd-Italic_1.svg#RomandeADFScriptStd-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Std';
    src: url('RomandeADFStd-DemiBold_1.eot');
    src: url('RomandeADFStd-DemiBold_1.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFStd-DemiBold_1.woff2') format('woff2'),
        url('RomandeADFStd-DemiBold_1.woff') format('woff'),
        url('RomandeADFStd-DemiBold_1.ttf') format('truetype'),
        url('RomandeADFStd-DemiBold_1.svg#RomandeADFStd-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Std';
    src: url('RomandeADFStd-DemiBoldItalic_1.eot');
    src: url('RomandeADFStd-DemiBoldItalic_1.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFStd-DemiBoldItalic_1.woff2') format('woff2'),
        url('RomandeADFStd-DemiBoldItalic_1.woff') format('woff'),
        url('RomandeADFStd-DemiBoldItalic_1.ttf') format('truetype'),
        url('RomandeADFStd-DemiBoldItalic_1.svg#RomandeADFStd-DemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Std';
    src: url('RomandeADFStd-Italic_1.eot');
    src: url('RomandeADFStd-Italic_1.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFStd-Italic_1.woff2') format('woff2'),
        url('RomandeADFStd-Italic_1.woff') format('woff'),
        url('RomandeADFStd-Italic_1.ttf') format('truetype'),
        url('RomandeADFStd-Italic_1.svg#RomandeADFStd-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Style Std';
    src: url('RomandeADFStyleStd-DemiBold_1.eot');
    src: url('RomandeADFStyleStd-DemiBold_1.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFStyleStd-DemiBold_1.woff2') format('woff2'),
        url('RomandeADFStyleStd-DemiBold_1.woff') format('woff'),
        url('RomandeADFStyleStd-DemiBold_1.ttf') format('truetype'),
        url('RomandeADFStyleStd-DemiBold_1.svg#RomandeADFStyleStd-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Style Std';
    src: url('RomandeADFStyleStd-Regular_1.eot');
    src: url('RomandeADFStyleStd-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFStyleStd-Regular_1.woff2') format('woff2'),
        url('RomandeADFStyleStd-Regular_1.woff') format('woff'),
        url('RomandeADFStyleStd-Regular_1.ttf') format('truetype'),
        url('RomandeADFStyleStd-Regular_1.svg#RomandeADFStyleStd-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Romande ADF Std';
    src: url('RomandeADFStd-Regular_1.eot');
    src: url('RomandeADFStd-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFStd-Regular_1.woff2') format('woff2'),
        url('RomandeADFStd-Regular_1.woff') format('woff'),
        url('RomandeADFStd-Regular_1.ttf') format('truetype'),
        url('RomandeADFStd-Regular_1.svg#RomandeADFStd-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

