* {
  margin: 0;
  padding: 0;
  outline: none;
}

body{
  width:100%;
  margin: 0;
  padding: 0;
  min-height: 1000px;
  font-family: 'proxima-nova';
  font-size: 20px
  padding-top: 100px;
  background-color: #fff;
  line-height: 1.5;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #188;
  transition: 1s;
  padding: 0 100px;
  box-sizing: border-box;
  }
header.scrolled{
  height: 100px;
  z-index: +9;
}
header img.banner{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 2s;
}

header.scrolled img.banner{
  opacity: 0;
}

header .logo{
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  transition: 1s;
}
header.scrolled .logo{
  position: relative;
  top: 15px;
  left: 0;
  float: left;

}
header .logo img {
  width: 300px;
  transition: 1s;
}

header.scrolled .logo img {
  width: 80px;
  left:0;
}













nav{
  position: relative;
}

nav ul{
  position: relative;
  float: right;
  
}


nav ul{
  margin: 0;
  padding: 40px 0;
  display: flex;
  overflow: hidden;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100px);
}
header.scrolled nav ul{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  overflow: hidden;
}


/*add at media here with the header.scrolled attribute to try and make the menu responsive?*/
nav ul li{
  list-style: none;
}
nav ul li a {
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  transition: 1s;
  background-color: #188;
}
nav ul li a.active{
  background: #fff;
  color:#262626;
}
nav ul li a:hover{
  border-bottom: 2px solid white;

}


/*JUST ADDED*/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 780px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: inline-flex;
  }
}

@media screen and (max-width: 780px){
  nav ul {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/*@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: inline-flex;
    text-align: left;
  }
}*/


.container{
  position: ;
  border: solid;
  border-color: #18b;
  padding: 25px;
  margin: 25px;
  display: block;
  font-size: 10px;
}

/*text*/
section{
  padding: 100px;
  box-sizing: border-box;
  margin: 150px auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media (max-width: 500px){
section{
  padding: 5%;
  }
}

/*Also see container n h2*/

h1{
  display: flex;
  justify-content: center;
  padding: 1.5vh;
  font-family: ;
  font-size: 200%;
}

section h2{
  margin: 0;
  padding: 0;
  font-size: ;
}

section h3{
  padding: 1.5vh;
  display: block;
  text-decoration-color: transparent;

  font-size: ;
  color: ;
}

h3{
  padding: 1.5vh;
  display: block;
  text-decoration-color: black;
  text-decoration-line: unset;
  font-size: ;
  color: ;
}

section p{
  font-size: 18px;
}

p{
  font-size: 18px;
}


.column {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5%;
  width:98%;
  height: auto;
}

/* Create four equal columns that sits next to each other */
.row {
  flex: 45%;
  /*max-width: 40%;*/
  padding: 1.5vh;
}

@media screen and (max-width: 800px){
  .row{
    flex: 90%
  }
}

.left{
  float: left;
}

.right{
  float: right;
}


hr { 
    display: ruby-base-container;
    margin-end: 10;
    margin-start: auto;
    border: 1px inset;
    overflow: hidden;
    margin-before: 0.5em;
    margin-after: 0.5em;
  width: 40%;
  right: 10px;
  margin-right: auto;
  margin-left: auto;

}

@media screen and (max-width: 600px){
  hr{
    display: none;
  }
}

@media screen and (min-width: 800px){
  hr{
    display: none;
  }
}

.middle{
  border-bottom-style: ridge;
}












.topright {
  
}

button.button1 {
  position: absolute;
  top: 25px;
  left: 10%;
  width: auto;
  height: 50px;
  background-color: red;
  opacity: 30%;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;

  border-radius: 20px
}
button.button1:hover {
  background-color: purple;
  opacity: 100%;
}



.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}














/*search box*/

.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;

}

input, button
{
    color: #fff;
    font-family: ;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    text-align:center;
}

header.scrolled #cover{
  display: none;
}

/*searchbar*/
#cover
{
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    width: 50%;
    padding: 5px;
    margin: -83px auto 0 auto;
    background-color: #188;
    border-radius: 20px;
    box-shadow: 0 10px 40px #7ff, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
    opacity: 50%;
    float: right;
}

#cover:hover{
   width: 70%;
   opacity: 80%;
}
#cover:active{
  background-color: #fff;
}
#cover:focus{
   width: 100%;
   opacity: 100%;
}

@media screen and (max-width: 600px){
  #cover{
    top: 90%;
    width: 100%;
    padding: 2.5px;
    box-shadow: 0 10px 20px #7ff, 0 0 0 10px #ffffffeb;
    border-radius: 20px;
  }
  #cover:hover{
     width: 100%;
     opacity: 1.0;
  }
  #cover:active{
     width: 100%;
     opacity: 1.0;
  }
}




/*spyglass*/
form
{
    height: 96px;
}

input[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}

input[type="text"]::placeholder
{
    color: #fff;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

button
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}

/*#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family:  ;
  font-size: 14px;
  text-decoration: none;
  background-color: #ff7575;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
  z-index: 125;
}*/

/*div.sticky {
  position: -webkit-sticky;  Safari 
  position: sticky;
  top: 0px;
  z-index: +10;
}
*/



/*@font-face {
    font-family: 'Romande ADF No2 Std';
    src: url('RomandeADFNo2Std-DemiBoldItalic.eot');
    src: url('RomandeADFNo2Std-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RomandeADFNo2Std-DemiBoldItalic.woff2') format('woff2'),
        url('RomandeADFNo2Std-DemiBoldItalic.woff') format('woff'),
        url('RomandeADFNo2Std-DemiBoldItalic.ttf') format('truetype'),
        url('RomandeADFNo2Std-DemiBoldItalic.svg#RomandeADFNo2Std-DemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}*/

.locations{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}


.locations > a{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  background:rgba(50, 255, 255, 0.4);
  color:rgba(25, 55, 125);
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  /*font-family: cursive !important, 'Romande ADF No2 Std' !important, Charm;
  font-weight: normal;
  font-style: italic;*/
  border-width: 1px;
  text-decoration-color: transparent;

  border-radius: 25px;
  border-color: red;
  border: thin;
  text-align: center;
}

.locations > a:hover{
  flex-grow: 1.5;
  color: white;
  background-color: #188;
}

/*This removes underlines from url links*/
a{
    text-decoration-color: transparent;
}















.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


footer{ 
  bottom: 0;
  width:100%;
}
.footer-distributed{
  background-color: #188;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
 
.footer-distributed .footer-left{
  width: 40%;
}
 
 /*logo*/
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
 
.footer-distributed h3 span{
  color:  #75a5f5;
}
 
 
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
 
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 
 
.footer-distributed .footer-center{
  width: 35%;
}
 
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
 
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
 
.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}
 
.footer-distributed .footer-right{
  width: 20%;
}
 
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
 
.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
  margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
 
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
 
  margin-right: 3px;
  margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
  .footer-distributed{
    font: bold 14px sans-serif;
  }
 
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
 
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
 
}



